.proposal-popup__container>p{
    height: 60vh;
    margin: 0px;
    overflow: scroll;
}

.proposal-popup__container>h1{
    text-align: center;
}

.proposal-popup__container>button{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.proposal-popup__close{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    border-radius: 74px;
    color: white;
    background: black;
}
