.popup__support {
  overflow: hidden;
}

.popup__support > p {
  padding: 2px 5px;
}

.popup__support > h1 {
  background: black;
  color: white;
  margin: 0 0;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup__support > button {
    width: 100%;
    background: transparent;
    border-style: hidden;
    font-family: lemon-milk;
    font-size: 2rem;
}

.btn_disabled{
  background-color: grey;
}


