.side-nav__container {
  display: block;
  min-width: 200px;
  width: 20vw;
  height: 100vh;
  background: white;
  margin: 0px;
  border-radius: 0px 50px 50px 0px;
}

.logo-container {
  width: fit-content;
  height: fit-content;
}

.side-nav__image {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 25vh;
  width: 100%;
}

.side-nav__sections {
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-nav__footer {
  height: 25vh;
  justify-content: center;
  display: grid;
  text-align: center;
  align-items: flex-end;
  grid-template-rows: 70% 50px;
  user-select: none;
}

.side-nav__ul {
  list-style-type: none;
  text-align: center;
  line-height: 1.75;
  padding: 0px;
}

.side-nav__ul > li {
  font-size: 1.4rem;
}

.side-nav__ul > li:hover {
  transform: scale(1.1);
  color: #fe0dd8;
  text-decoration: underline;
  cursor: pointer;
}

img.logo {
  width: 200px;
  height: auto;
}

.side-nav__li {
  color: black;
}

.side-nav__icons > a > img {
  max-width: 3.5rem;
  min-width: 2.3rem;
  width: 3rem;
  margin: 0 5px;
}

.side-nav__icons > a > img:hover {
  background-color: #fe0dd8;
  border-radius: 10px;
}
