body{
  background: black;
  font-family: 'lemon-milk';
}

p {
  margin: 0px;
}

button:hover{
  cursor: pointer;
  transform: scale(1.05);
}

.site__wrapper,
.site__content{
  width: 100%;
}

.site__wrapper{
  display: inline-flex;
}

.site__content{
  padding: 3em;
}

button.btn__artera{
    color: white;
    min-width: 6rem;
    width: fit-content;
    border-radius: 20px;
    border-color: transparent;
    box-shadow: 1px 2px 4px #00000094;
    padding: 2px 0;
    margin: 2px 5px;
}

button.btn__dark{
  background: black;
}

button.btn__light{
  background: #a33fef;
}

@media only screen and (max-height: 699px) {
    .proposal__wrapper > p{
      display: none;
    }

    .side-nav__sections{
      height: 45vh !important;
    }

    .project__content > p{
      display: none;
    }

    .img-logo{
      width: 175px;
    }

    .side-nav__footer{
      height: fit-content;
    }

    .section-title > h1{
      font-size: 3.5vw !important;
    }
}

@media only screen and (max-height: 620px) {
  .side-nav__sections{
    height: 40vh !important;
  }

  .section-title > h1{
    font-size: 2.5vw !important;
  }
}
